@using Microsoft.AspNetCore.Identity
@using ThesisProject.Areas.Identity.Data

@inject SignInManager<ThesisProjectUser> SignInManager
@inject UserManager<ThesisProjectUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item mx-lg-2 mx-md-2 mx-xl-2 my-sm-2">
            <a id="manage" class="nav-link link header__cta" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
        <li class="nav-item my-sm-2">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn">Logout</button>
        </form>
    </li>
}
else
{
        <li class="nav-item mx-lg-2 mx-md-2 mx-xl-2 my-sm-2">
            <a class="button btn btn-link border-0 hero__cta" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item my-sm-2">
            <a class="button btn btn-link border-0 hero__cta" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
}
</ul>
