@{
        Layout = "/Views/Accounts/_Layout.cshtml";
}

<h1 class="article__title">Manage your account</h1>

<div>
    <h2 class="article__description">Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
