@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container">
<p class="article__title m-3">
    @Localizer["Please check your email to reset your password"] .
</p>
</div>