@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @Localizer["Reset password confirmation"];
}
<div class="container w-25">
<h1 class="article__author mb-2">@ViewData["Title"]</h1>
<p class="article__title">
        @Localizer["Your password has been reset. Please"] <a asp-page="./Login">@Localizer["click here to log in"]</a>.
</p>
</div>